In [1]:
import pandas as pd
import numpy as np

/Users/aaronlalala/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/aaronlalala/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
sub_cols = ['borough', 'bin_#', 'house_#', 'street_name', 'job_#', 'job_doc._#',
       'job_type', 'self_cert', 'block', 'lot', 'community_board', 'zip_code',
       'bldg_type', 'residential', 'special_district_1', 'special_district_2']
df = pd.read_pickle("Data/Rawdata/debug_data.pkl").loc[:, sub_cols]
df.head()

,borough,bin_#,house_#,street_name,job_#,job_doc._#,job_type,self_cert,block,lot,community_board,zip_code,bldg_type,residential,special_district_1,special_district_2
0,BROOKLYN,3127307,814,DITMAS AVENUE,301068644,1,A3,NaN,05402,00006,312,11218.0,1.0,True,<NA>,<NA>
1,QUEENS,4295034,156-27,101 STREET,402062520,1,A1,NaN,14162,00047,410,11414.0,1.0,True,<NA>,<NA>
2,BROOKLYN,3009015,209,18TH STREET,320934487,1,A1,N,00631,00065,307,11215.0,1.0,True,<NA>,<NA>
3,QUEENS,4181643,84-05,FOREST PARKWAY,401838614,1,A1,Y,08858,00001,409,11421.0,1.0,True,<NA>,<NA>
4,BROOKLYN,3002691,36,SCHERMERHORN ST,321197735,1,A1,N,00270,00044,302,11201.0,1.0,True,LH-1,<NA>

In [3]:
df.nunique()

borough                   5
bin_#                 30153
house_#                9113
street_name            7590
job_#                 38773
job_doc._#                8
job_type                  6
self_cert                 2
block                  8649
lot                     656
community_board          71
zip_code                220
bldg_type                 2
residential               1
special_district_1       76
special_district_2        2
dtype: int64

In [4]:
df.isna().sum()

borough                   0
bin_#                     0
house_#                   0
street_name               0
job_#                     0
job_doc._#                0
job_type                  0
self_cert             13277
block                     0
lot                       0
community_board          22
zip_code                 20
bldg_type               564
residential               0
special_district_1    35033
special_district_2    39516
dtype: int64

# Fill Missing Values

## Fill Special District

In [5]:
# If observation does not have a value in sepcial value columne, it's not special
df["special_district_1"] = df["special_district_1"].fillna("not special")
df["special_district_2"] = df["special_district_2"].fillna("not special")

## Fill Zip Code, Building Type and Community Board

In [6]:
cols_to_fill = ["zip_code", "community_board", "bldg_type"]

In [7]:
# Fill the empty zip_code with the most common zip_code at that borough.
df["zip_code"] = df.groupby('borough')['zip_code'].transform(lambda x: x.fillna(x.mode().iloc[0]))

/var/folders/hv/2w2wpkpx6lb6tcqy89s4bw040000gn/T/ipykernel_20400/882628502.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df["zip_code"] = df.groupby('borough')['zip_code'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [8]:
df["community_board"] = df.groupby('borough')['community_board'].transform(lambda x: x.fillna(x.mode().iloc[0]))

/var/folders/hv/2w2wpkpx6lb6tcqy89s4bw040000gn/T/ipykernel_20400/3811248836.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df["community_board"] = df.groupby('borough')['community_board'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [9]:
df["bldg_type"] = df.groupby('borough')['bldg_type'].transform(lambda x: x.fillna(x.mode().iloc[0]))

/var/folders/hv/2w2wpkpx6lb6tcqy89s4bw040000gn/T/ipykernel_20400/3100922927.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df["bldg_type"] = df.groupby('borough')['bldg_type'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [10]:
df.isna().sum()

borough                   0
bin_#                     0
house_#                   0
street_name               0
job_#                     0
job_doc._#                0
job_type                  0
self_cert             13277
block                     0
lot                       0
community_board           0
zip_code                  0
bldg_type                 0
residential               0
special_district_1        0
special_district_2        0
dtype: int64

## Drop self_cert

In [14]:
# Because there are too many self_cert are empty. And we don't have enough information to fill that.
df = df.drop(columns=["self_cert"])

In [15]:
df.head()

,borough,bin_#,house_#,street_name,job_#,job_doc._#,job_type,block,lot,community_board,zip_code,bldg_type,residential,special_district_1,special_district_2
0,BROOKLYN,3127307,814,DITMAS AVENUE,301068644,1,A3,05402,00006,312,11218.0,1.0,True,not special,not special
1,QUEENS,4295034,156-27,101 STREET,402062520,1,A1,14162,00047,410,11414.0,1.0,True,not special,not special
2,BROOKLYN,3009015,209,18TH STREET,320934487,1,A1,00631,00065,307,11215.0,1.0,True,not special,not special
3,QUEENS,4181643,84-05,FOREST PARKWAY,401838614,1,A1,08858,00001,409,11421.0,1.0,True,not special,not special
4,BROOKLYN,3002691,36,SCHERMERHORN ST,321197735,1,A1,00270,00044,302,11201.0,1.0,True,LH-1,not special