In [4]:
# Impost nessary libraries
import pandas as pd

In [2]:
# Set display options to show all rows and columns without truncation
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [6]:
# Import DOB data
df = pd.read_csv('./Data/Rawdata/DOB_Permit_Issuance.csv', low_memory=False)
df.shape

(3938890, 60)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3938890 entries, 0 to 3938889
Data columns (total 60 columns):
 #   Column                            Dtype
---  ------                            -----
 0   BOROUGH                           object
 1   Bin #                             object
 2   House #                           object
 3   Street Name                       object
 4   Job #                             float64
 5   Job doc. #                        float64
 6   Job Type                          object
 7   Self_Cert                         object
 8   Block                             object
 9   Lot                               object
 10  Community Board                   object
 11  Zip Code                          float64
 12  Bldg Type                         float64
 13  Residential                       object
 14  Special District 1                object
 15  Special District 2                object
 16  Work Type                         object
 17  Permit Status                     object
 18  Filing Status                     object
 19  Permit Type                       object
 20  Permit Sequence #                 float64
 21  Permit Subtype                    object
 22  Oil Gas                           object
 23  Site Fill                         object
 24  Filing Date                       object
 25  Issuance Date                     object
 26  Expiration Date                   object
 27  Job Start Date                    object
 28  Permittee's First Name            object
 29  Permittee's Last Name             object
 30  Permittee's Business Name         object
 31  Permittee's Phone #               object
 32  Permittee's License Type          object
 33  Permittee's License #             object
 34  Act as Superintendent             object
 35  Permittee's Other Title           object
 36  HIC License                       object
 37  Site Safety Mgr's First Name      object
 38  Site Safety Mgr's Last Name       object
 39  Site Safety Mgr Business Name     object
 40  Superintendent First & Last Name  object
 41  Superintendent Business Name      object
 42  Owner's Business Type             object
 43  Non-Profit                        object
 44  Owner's Business Name             object
 45  Owner's First Name                object
 46  Owner's Last Name                 object
 47  Owner's House #                   object
 48  Owner's House Street Name         object
 49  Owner’s House City                object
 50  Owner’s House State               object
 51  Owner’s House Zip Code            object
 52  Owner's Phone #                   object
 53  DOBRunDate                        object
 54  PERMIT_SI_NO                      float64
 55  LATITUDE                          float64
 56  LONGITUDE                         float64
 57  COUNCIL_DISTRICT                  float64
 58  CENSUS_TRACT                      float64
 59  NTA_NAME                          object
dtypes: float64(10), object(50)
memory usage: 1.8+ GB

In [6]:
# Check first 5 rows of data
df.head()

,BOROUGH,Bin #,House #,Street Name,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,Community Board,Zip Code,Bldg Type,Residential,Special District 1,Special District 2,Work Type,Permit Status,Filing Status,Permit Type,Permit Sequence #,Permit Subtype,Oil Gas,Site Fill,Filing Date,Issuance Date,Expiration Date,Job Start Date,Permittee's First Name,Permittee's Last Name,Permittee's Business Name,Permittee's Phone #,Permittee's License Type,Permittee's License #,Act as Superintendent,Permittee's Other Title,HIC License,Site Safety Mgr's First Name,Site Safety Mgr's Last Name,Site Safety Mgr Business Name,Superintendent First & Last Name,Superintendent Business Name,Owner's Business Type,Non-Profit,Owner's Business Name,Owner's First Name,Owner's Last Name,Owner's House #,Owner's House Street Name,Owner’s House City,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,PERMIT_SI_NO,LATITUDE,LONGITUDE,COUNCIL_DISTRICT,CENSUS_TRACT,NTA_NAME
0,MANHATTAN,1088749,1,MADISON AVE,141008987,1,A3,Y,00853,00002,105,10010.0,2.0,NaN,NaN,NaN,EQ,ISSUED,INITIAL,EQ,1,OT,NaN,NaN,05/10/2022,05/10/2022,05/10/2023,05/10/2022,FRANKIE,COLLETTA,"FORCE INSTALLATIONS, LLC",2122441050,GC,0621634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CORPORATION,N,SL GREEN REALTY CORP.,JOHN,KRUSH,NaN,NaN,NaN,NaN,NaN,2125942700,05/11/2022 00:00:00,3905851,40.740909,-73.987947,2.0,56.0,Hudson Yards-Chelsea-Flatiron-Union Square
1,STATEN ISLAND,5076937,87,BOYLAN STREET,540218539,1,A2,Y,05687,00066,503,10312.0,1.0,YES,SRD,NaN,OT,ISSUED,INITIAL,EW,1,OT,NaN,NOT APPLICABLE,05/10/2022,05/10/2022,10/01/2022,05/12/2022,PAUL,JOYCE,SUNRUN INSTALLATION SVC,8055407643,GC,0613329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL,N,NaN,STEVEN,MONTANA,NaN,NaN,NaN,NaN,NaN,9174201655,05/11/2022 00:00:00,3905852,40.563654,-74.179584,51.0,17008.0,Arden Heights
2,STATEN ISLAND,5001506,217,LAFAYETTE AVENUE,540218575,1,A2,Y,00064,00022,501,10301.0,1.0,YES,HS,NaN,OT,ISSUED,INITIAL,EW,1,OT,NaN,NOT APPLICABLE,05/10/2022,05/10/2022,10/01/2022,05/15/2022,PAUL,JOYCE,SUNRUN INSTALLATION SVC,8055407643,GC,0613329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL,N,NaN,SANTO,CEBALLOS,NaN,NaN,NaN,NaN,NaN,7188125847,05/11/2022 00:00:00,3905853,40.639633,-74.094169,49.0,81.0,West New Brighton-New Brighton-St. George
3,STATEN ISLAND,5067021,170,OAKDALE STREET,540218600,1,A2,Y,05260,00001,503,10308.0,1.0,YES,SRD,NaN,OT,ISSUED,INITIAL,EW,1,OT,NaN,NOT APPLICABLE,05/10/2022,05/10/2022,10/01/2022,05/15/2022,PAUL,JOYCE,SUNRUN INSTALLATION SVC,8055407643,GC,0613329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL,N,NaN,JOANNA,GIANGRANDE,NaN,NaN,NaN,NaN,NaN,3478575846,05/11/2022 00:00:00,3905854,40.544597,-74.157153,51.0,15601.0,Great Kills
4,STATEN ISLAND,5058036,273,10 STREET,540218628,1,A2,Y,04242,00045,502,10306.0,1.0,YES,NaN,NaN,OT,ISSUED,INITIAL,EW,1,OT,NaN,NOT APPLICABLE,05/10/2022,05/10/2022,11/15/2022,05/24/2022,ALEXANDER,YACKERY,VENTURE HOME SOLAR LLC,7183982259,GC,0615255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL,N,NaN,ARKADLY,FRIDMAN,NaN,NaN,NaN,NaN,NaN,7186195891,05/11/2022 00:00:00,3905855,40.566798,-74.119726,50.0,134.0,New Dorp-Midland Beach

In [8]:
# Customize the column names
df.columns = df.columns.str.lower()
df.columns = list(map(lambda x: x.replace(' ', '_'), df.columns))
df.columns

Index(['borough', 'bin_#', 'house_#', 'street_name', 'job_#', 'job_doc._#',
       'job_type', 'self_cert', 'block', 'lot', 'community_board', 'zip_code',
       'bldg_type', 'residential', 'special_district_1', 'special_district_2',
       'work_type', 'permit_status', 'filing_status', 'permit_type',
       'permit_sequence_#', 'permit_subtype', 'oil_gas', 'site_fill',
       'filing_date', 'issuance_date', 'expiration_date', 'job_start_date',
       'permittee's_first_name', 'permittee's_last_name',
       'permittee's_business_name', 'permittee's_phone_#',
       'permittee's_license_type', 'permittee's_license_#',
       'act_as_superintendent', 'permittee's_other_title', 'hic_license',
       'site_safety_mgr's_first_name', 'site_safety_mgr's_last_name',
       'site_safety_mgr_business_name', 'superintendent_first_&_last_name',
       'superintendent_business_name', 'owner's_business_type', 'non-profit',
       'owner's_business_name', 'owner's_first_name', 'owner's_last_name',
       'owner's_house_#', 'owner's_house_street_name', 'owner’s_house_city',
       'owner’s_house_state', 'owner’s_house_zip_code', 'owner's_phone_#',
       'dobrundate', 'permit_si_no', 'latitude', 'longitude',
       'council_district', 'census_tract', 'nta_name'],
      dtype='object')

In [9]:
datetime_cols = ['filing_date', 'issuance_date', 'expiration_date', 'job_start_date', 'dobrundate']

str_cols = ['house_#', 'street_name', 'block', 'lot', 'job_#', 'bin_#', 'zip_code', 'community_board', 'special_district_1', 
            'special_district_2', "permittee's_first_name", "permittee's_last_name", "permittee's_business_name", 
            "permittee's_phone_#", "permittee's_license_#", "permittee's_other_title", 'hic_license', 
            "site_safety_mgr's_first_name", "site_safety_mgr's_last_name", "site_safety_mgr_business_name", 
            "superintendent_first_&_last_name", "superintendent_business_name", "owner's_business_name", 
            "owner's_first_name", "owner's_last_name", "owner's_house_#", "owner's_house_street_name", "owner’s_house_city", 
            "owner’s_house_zip_code", "owner's_phone_#", "permit_si_no", 'nta_name', 'census_tract']

cat_cols = ['borough', 'job_type', 'job_doc._#', 'self_cert', 'bldg_type', 'work_type', 'permit_status', 'filing_status', 
            'permit_type', 'permit_sequence_#', 'permit_subtype', 'oil_gas', 'site_fill', "permittee's_license_type", 
            'act_as_superintendent', "owner's_business_type", 'non-profit', "owner’s_house_state", 'council_district']

int_cols = []
float_cols = ['latitude', 'longitude']
bool_cols = ['residential']

In [10]:
col_types = {}
for column in df.columns:
    if column in str_cols:
        col_types[column] = 'string'
    elif column in cat_cols:
        col_types[column] = 'category'
    elif column in int_cols:
        col_types[column] = 'int64'
    elif column in float_cols:
        col_types[column] = 'float64'
    elif column in bool_cols:
        col_types[column] = 'bool'

In [11]:
df = df.astype(col_types)
for datetime_col in datetime_cols:
    df[datetime_col] = pd.to_datetime(df[datetime_col], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3938890 entries, 0 to 3938889
Data columns (total 60 columns):
 #   Column                            Dtype
---  ------                            -----
 0   borough                           category
 1   bin_#                             string
 2   house_#                           string
 3   street_name                       string
 4   job_#                             string
 5   job_doc._#                        category
 6   job_type                          category
 7   self_cert                         category
 8   block                             string
 9   lot                               string
 10  community_board                   string
 11  zip_code                          string
 12  bldg_type                         category
 13  residential                       bool
 14  special_district_1                string
 15  special_district_2                string
 16  work_type                         category
 17  permit_status                     category
 18  filing_status                     category
 19  permit_type                       category
 20  permit_sequence_#                 category
 21  permit_subtype                    category
 22  oil_gas                           category
 23  site_fill                         category
 24  filing_date                       datetime64[ns]
 25  issuance_date                     datetime64[ns]
 26  expiration_date                   datetime64[ns]
 27  job_start_date                    datetime64[ns]
 28  permittee's_first_name            string
 29  permittee's_last_name             string
 30  permittee's_business_name         string
 31  permittee's_phone_#               string
 32  permittee's_license_type          category
 33  permittee's_license_#             string
 34  act_as_superintendent             category
 35  permittee's_other_title           string
 36  hic_license                       string
 37  site_safety_mgr's_first_name      string
 38  site_safety_mgr's_last_name       string
 39  site_safety_mgr_business_name     string
 40  superintendent_first_&_last_name  string
 41  superintendent_business_name      string
 42  owner's_business_type             category
 43  non-profit                        category
 44  owner's_business_name             string
 45  owner's_first_name                string
 46  owner's_last_name                 string
 47  owner's_house_#                   string
 48  owner's_house_street_name         string
 49  owner’s_house_city                string
 50  owner’s_house_state               category
 51  owner’s_house_zip_code            string
 52  owner's_phone_#                   string
 53  dobrundate                        datetime64[ns]
 54  permit_si_no                      string
 55  latitude                          float64
 56  longitude                         float64
 57  council_district                  category
 58  census_tract                      string
 59  nta_name                          string
dtypes: bool(1), category(19), datetime64[ns](5), float64(2), string(33)
memory usage: 1.2 GB

In [24]:
df['permit_status'].value_counts()

ISSUED        3859133
RE-ISSUED       48569
IN PROCESS      20004
REVOKED             5
Name: permit_status, dtype: int64

In [25]:
df['permit_sequence_#'].value_counts()

1.0     2785090
2.0      680110
3.0      238400
4.0      104129
5.0       52422
6.0       28987
7.0       17025
8.0       10543
9.0        6662
10.0       4382
11.0       3022
12.0       2078
13.0       1479
14.0       1089
15.0        817
16.0        620
17.0        469
18.0        347
19.0        251
20.0        203
21.0        168
22.0        141
23.0        121
24.0        105
25.0         85
26.0         60
27.0         31
28.0         16
29.0          9
30.0          7
31.0          6
32.0          4
33.0          3
34.0          2
35.0          2
Name: permit_sequence_#, dtype: int64

In [13]:
df2 = df.iloc[:, 45:60]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3938890 entries, 0 to 3938889
Data columns (total 15 columns):
 #   Column                     Dtype
---  ------                     -----
 0   owner's_first_name         string
 1   owner's_last_name          string
 2   owner's_house_#            string
 3   owner's_house_street_name  string
 4   owner’s_house_city         string
 5   owner’s_house_state        category
 6   owner’s_house_zip_code     string
 7   owner's_phone_#            string
 8   dobrundate                 datetime64[ns]
 9   permit_si_no               string
 10  latitude                   float64
 11  longitude                  float64
 12  council_district           category
 13  census_tract               string
 14  nta_name                   string
dtypes: category(2), datetime64[ns](1), float64(2), string(10)
memory usage: 398.2 MB

In [15]:
df2.count()

owner's_first_name           3936916
owner's_last_name            3937261
owner's_house_#                92120
owner's_house_street_name      92117
owner’s_house_city             92140
owner’s_house_state            92150
owner’s_house_zip_code         91787
owner's_phone_#              3887957
dobrundate                   3938881
permit_si_no                 3938885
latitude                     3927463
longitude                    3927463
council_district             3927463
census_tract                 3927463
nta_name                     3927463
dtype: int64

In [23]:
for i in df2.columns:
    print(df2[i].value_counts())

MICHAEL     94028
JOHN        83186
ROBERT      81070
JOSEPH      76228
DAVID       76068
            ...
FU GUANG        1
DAYANA          1
CELLIA          1
ANJAD           1
CHUNZHI         1
Name: owner's_first_name, Length: 101353, dtype: Int64
SINGH              35453
COHEN              27406
ABNERI             19557
CHEN               15453
JOSEPH             13739
                   ...
Lugert                 1
PAPPAKONSTANTIS        1
HO-SANG                1
SNONITIS               1
MIJI                   1
Name: owner's_last_name, Length: 178965, dtype: Int64
100       2989
30-30     1628
1         1601
75        1071
150        927
          ...
22-87        1
2430         1
241-52       1
2073         1
95-05        1
Name: owner's_house_#, Length: 12411, dtype: Int64
BROADWAY                            2119
THOMSON AVENUE                      1156
PARK AVENUE                         1081
GOLD STREET                         1018
MADISON AVENUE                       842
                                    ...
146TH STREET                           1
BEAUMNT STREET                         1
EAST 26TH ST                           1
ALBANY AV                              1
FULTON STREET, C/O BELLE HARBOUR       1
Name: owner's_house_street_name, Length: 23702, dtype: Int64
NEW YORK           21685
NY                 12167
BROOKLYN            8063
New York            5249
QUEENS              3049
                   ...
N PLEASENTVILLE        1
FRESH MEADOWS.         1
SOUTH BURLINGTO        1
MATTITUCK              1
GREENSBORO             1
Name: owner’s_house_city, Length: 2647, dtype: Int64
NY    89951
NJ     1098
CT      151
PA      141
CA      116
FL      103
MA       96
IL       75
OH       59
NC       52
VA       43
TX       42
MD       24
GA       23
NV       18
AZ       18
NH       14
CO       14
RI       12
DC       11
MI        9
MN        9
WA        8
VT        7
TN        7
UT        6
NE        5
SC        5
ME        4
IN        4
MO        3
KY        3
KS        3
DE        3
IA        2
NM        2
LA        2
OR        2
PR        1
SD        1
ND        1
OK        1
AK        1
Name: owner’s_house_state, dtype: int64
10038        3955
10022        3656
10017        3306
11101        2631
10019        2407
             ...
100168806       1
110402          1
10442           1
10046           1
27410           1
Name: owner’s_house_zip_code, Length: 1860, dtype: Int64
7184728000    35244
2128637625    15120
2128947000    12418
7184728534     9799
2128637490     9449
              ...
6463965913        1
2126397474        1
2123503567        1
7183569152        1
2024200592        1
Name: owner's_phone_#, Length: 420685, dtype: Int64
2022-05-09    3794273
2017-11-03      85280
2022-09-12        807
2022-12-16        761
2022-09-05        751
               ...
2023-06-19          1
2020-02-13          1
2021-11-26          1
2023-03-05          1
2019-08-06          1
Name: dobrundate, Length: 1588, dtype: int64
3905851.0    1
3906285.0    1
3905880.0    1
3905910.0    1
3905863.0    1
            ..
2819103.0    1
2819105.0    1
363669.0     1
3664869.0    1
3708232.0    1
Name: permit_si_no, Length: 3938885, dtype: Int64
40.748276    3373
40.751098    3082
40.754162    2615
40.758754    2473
40.711537    2148
             ...
40.611486       1
40.684095       1
40.894437       1
40.719676       1
40.659438       1
Name: latitude, Length: 234406, dtype: int64
-73.984690    3384
-73.992926    3070
-73.976557    2615
-73.978692    2551
-74.015673    2169
              ...
-73.746849       1
-73.744340       1
-73.743608       1
-73.759737       1
-73.702928       1
Name: longitude, Length: 247735, dtype: int64
4.0     463161
3.0     298501
1.0     255514
2.0     153241
6.0     134313
33.0    128289
5.0      97241
19.0     90588
39.0     87046
51.0     86964
34.0     79410
50.0     78756
26.0     77614
9.0      73325
20.0     70026
35.0     69661
36.0     67155
38.0     64314
31.0     62865
49.0     62347
32.0     61849
7.0      60877
22.0     60315
8.0      58233
17.0     56298
48.0     55196
24.0     54714
28.0     53966
23.0     53926
44.0     52864
27.0     50243
47.0     49719
43.0     49454
37.0     49155
30.0     48713
29.0     47500
21.0     47186
13.0     45145
42.0     43584
41.0     40924
10.0     40798
11.0     38994
12.0     38268
25.0     38265
15.0     37786
46.0     35964
18.0     33894
40.0     33051
16.0     32285
45.0     31632
14.0     26334
Name: council_district, dtype: int64
7.0         32503
33.0        30925
102.0       26836
104.0       25401
137.0       25314
            ...
852.0          15
793.0          13
8602.0          6
107202.0        6
624.0           2
Name: census_tract, Length: 1327, dtype: Int64
Midtown-Midtown South                         278388
Hudson Yards-Chelsea-Flatiron-Union Square    126432
SoHo-TriBeCa-Civic Center-Little Italy        121103
Upper East Side-Carnegie Hill                 119061
West Village                                  103466
                                               ...
park-cemetery-etc-Manhattan                     2534
Rikers Island                                   2117
park-cemetery-etc-Bronx                         1315
Starrett City                                   1100
Airport                                          188
Name: nta_name, Length: 194, dtype: Int64