# Sample Debug Data

In [2]:
# Impost nessary libraries
import pandas as pd

/Users/aaronlalala/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/aaronlalala/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
# Set display options to show all rows and columns without truncation
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
# Import DOB data
df = pd.read_csv('./Data/DOB_Permit_Issuance.csv', low_memory=False)
df.shape

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3952399 entries, 0 to 3952398
Data columns (total 60 columns):
 #   Column                            Dtype
---  ------                            -----
 0   borough                           object
 1   bin_#                             int64
 2   house_#                           object
 3   street_name                       object
 4   job_#                             int64
 5   job_doc._#                        int64
 6   job_type                          object
 7   self_cert                         object
 8   block                             object
 9   lot                               object
 10  community_board                   object
 11  zip_code                          float64
 12  bldg_type                         float64
 13  residential                       object
 14  special_district_1                object
 15  special_district_2                object
 16  work_type                         object
 17  permit_status                     object
 18  filing_status                     object
 19  permit_type                       object
 20  permit_sequence_#                 int64
 21  permit_subtype                    object
 22  oil_gas                           object
 23  site_fill                         object
 24  filing_date                       datetime64[ns]
 25  issuance_date                     datetime64[ns]
 26  expiration_date                   datetime64[ns]
 27  job_start_date                    datetime64[ns]
 28  permittee's_first_name            object
 29  permittee's_last_name             object
 30  permittee's_business_name         object
 31  permittee's_phone_#               object
 32  permittee's_license_type          object
 33  permittee's_license_#             object
 34  act_as_superintendent             object
 35  permittee's_other_title           object
 36  hic_license                       object
 37  site_safety_mgr's_first_name      object
 38  site_safety_mgr's_last_name       object
 39  site_safety_mgr_business_name     object
 40  superintendent_first_&_last_name  object
 41  superintendent_business_name      object
 42  owner's_business_type             object
 43  non-profit                        object
 44  owner's_business_name             object
 45  owner's_first_name                object
 46  owner's_last_name                 object
 47  owner's_house_#                   object
 48  owner's_house_street_name         object
 49  owner’s_house_city                object
 50  owner’s_house_state               object
 51  owner’s_house_zip_code            object
 52  owner's_phone_#                   object
 53  dobrundate                        datetime64[ns]
 54  permit_si_no                      int64
 55  latitude                          float64
 56  longitude                         float64
 57  council_district                  float64
 58  census_tract                      float64
 59  nta_name                          object
dtypes: datetime64[ns](5), float64(6), int64(5), object(44)
memory usage: 1.8+ GB

In [6]:
# Check first 5 rows of data
df.head()

,BOROUGH,Bin #,House #,Street Name,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,Community Board,Zip Code,Bldg Type,Residential,Special District 1,Special District 2,Work Type,Permit Status,Filing Status,Permit Type,Permit Sequence #,Permit Subtype,Oil Gas,Site Fill,Filing Date,Issuance Date,Expiration Date,Job Start Date,Permittee's First Name,Permittee's Last Name,Permittee's Business Name,Permittee's Phone #,Permittee's License Type,Permittee's License #,Act as Superintendent,Permittee's Other Title,HIC License,Site Safety Mgr's First Name,Site Safety Mgr's Last Name,Site Safety Mgr Business Name,Superintendent First & Last Name,Superintendent Business Name,Owner's Business Type,Non-Profit,Owner's Business Name,Owner's First Name,Owner's Last Name,Owner's House #,Owner's House Street Name,Owner’s House City,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,PERMIT_SI_NO,LATITUDE,LONGITUDE,COUNCIL_DISTRICT,CENSUS_TRACT,NTA_NAME
0,MANHATTAN,1088749,1,MADISON AVE,141008987,1,A3,Y,00853,00002,105,10010.0,2.0,NaN,NaN,NaN,EQ,ISSUED,INITIAL,EQ,1,OT,NaN,NaN,05/10/2022,05/10/2022,05/10/2023,05/10/2022,FRANKIE,COLLETTA,"FORCE INSTALLATIONS, LLC",2122441050,GC,0621634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CORPORATION,N,SL GREEN REALTY CORP.,JOHN,KRUSH,NaN,NaN,NaN,NaN,NaN,2125942700,05/11/2022 00:00:00,3905851,40.740909,-73.987947,2.0,56.0,Hudson Yards-Chelsea-Flatiron-Union Square
1,STATEN ISLAND,5076937,87,BOYLAN STREET,540218539,1,A2,Y,05687,00066,503,10312.0,1.0,YES,SRD,NaN,OT,ISSUED,INITIAL,EW,1,OT,NaN,NOT APPLICABLE,05/10/2022,05/10/2022,10/01/2022,05/12/2022,PAUL,JOYCE,SUNRUN INSTALLATION SVC,8055407643,GC,0613329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL,N,NaN,STEVEN,MONTANA,NaN,NaN,NaN,NaN,NaN,9174201655,05/11/2022 00:00:00,3905852,40.563654,-74.179584,51.0,17008.0,Arden Heights
2,STATEN ISLAND,5001506,217,LAFAYETTE AVENUE,540218575,1,A2,Y,00064,00022,501,10301.0,1.0,YES,HS,NaN,OT,ISSUED,INITIAL,EW,1,OT,NaN,NOT APPLICABLE,05/10/2022,05/10/2022,10/01/2022,05/15/2022,PAUL,JOYCE,SUNRUN INSTALLATION SVC,8055407643,GC,0613329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL,N,NaN,SANTO,CEBALLOS,NaN,NaN,NaN,NaN,NaN,7188125847,05/11/2022 00:00:00,3905853,40.639633,-74.094169,49.0,81.0,West New Brighton-New Brighton-St. George
3,STATEN ISLAND,5067021,170,OAKDALE STREET,540218600,1,A2,Y,05260,00001,503,10308.0,1.0,YES,SRD,NaN,OT,ISSUED,INITIAL,EW,1,OT,NaN,NOT APPLICABLE,05/10/2022,05/10/2022,10/01/2022,05/15/2022,PAUL,JOYCE,SUNRUN INSTALLATION SVC,8055407643,GC,0613329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL,N,NaN,JOANNA,GIANGRANDE,NaN,NaN,NaN,NaN,NaN,3478575846,05/11/2022 00:00:00,3905854,40.544597,-74.157153,51.0,15601.0,Great Kills
4,STATEN ISLAND,5058036,273,10 STREET,540218628,1,A2,Y,04242,00045,502,10306.0,1.0,YES,NaN,NaN,OT,ISSUED,INITIAL,EW,1,OT,NaN,NOT APPLICABLE,05/10/2022,05/10/2022,11/15/2022,05/24/2022,ALEXANDER,YACKERY,VENTURE HOME SOLAR LLC,7183982259,GC,0615255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INDIVIDUAL,N,NaN,ARKADLY,FRIDMAN,NaN,NaN,NaN,NaN,NaN,7186195891,05/11/2022 00:00:00,3905855,40.566798,-74.119726,50.0,134.0,New Dorp-Midland Beach

In [7]:
# Customize the column names
df.columns = df.columns.str.lower()
df.columns = list(map(lambda x: x.replace(' ', '_'), df.columns))
df.columns

Index(['borough', 'bin_#', 'house_#', 'street_name', 'job_#', 'job_doc._#',
       'job_type', 'self_cert', 'block', 'lot', 'community_board', 'zip_code',
       'bldg_type', 'residential', 'special_district_1', 'special_district_2',
       'work_type', 'permit_status', 'filing_status', 'permit_type',
       'permit_sequence_#', 'permit_subtype', 'oil_gas', 'site_fill',
       'filing_date', 'issuance_date', 'expiration_date', 'job_start_date',
       'permittee's_first_name', 'permittee's_last_name',
       'permittee's_business_name', 'permittee's_phone_#',
       'permittee's_license_type', 'permittee's_license_#',
       'act_as_superintendent', 'permittee's_other_title', 'hic_license',
       'site_safety_mgr's_first_name', 'site_safety_mgr's_last_name',
       'site_safety_mgr_business_name', 'superintendent_first_&_last_name',
       'superintendent_business_name', 'owner's_business_type', 'non-profit',
       'owner's_business_name', 'owner's_first_name', 'owner's_last_name',
       'owner's_house_#', 'owner's_house_street_name', 'owner’s_house_city',
       'owner’s_house_state', 'owner’s_house_zip_code', 'owner's_phone_#',
       'dobrundate', 'permit_si_no', 'latitude', 'longitude',
       'council_district', 'census_tract', 'nta_name'],
      dtype='object')

In [18]:
datetime_cols = ['filing_date', 'issuance_date', 'expiration_date', 'job_start_date', 'dobrundate']

str_cols = ['house_#', 'street_name', 'block', 'lot', 'job_#', 'bin_#', 'zip_code', 'community_board', 'special_district_1', 
            'special_district_2', "permittee's_first_name", "permittee's_last_name", "permittee's_business_name", 
            "permittee's_phone_#", "permittee's_license_#", "permittee's_other_title", 'hic_license', 
            "site_safety_mgr's_first_name", "site_safety_mgr's_last_name", "site_safety_mgr_business_name", 
            "superintendent_first_&_last_name", "superintendent_business_name", "owner's_business_name", 
            "owner's_first_name", "owner's_last_name", "owner's_house_#", "owner's_house_street_name", "owner’s_house_city", 
            "owner’s_house_zip_code", "owner's_phone_#", "permit_si_no", 'nta_name', 'census_tract']

cat_cols = ['borough', 'job_type', 'job_doc._#', 'self_cert', 'bldg_type', 'work_type', 'permit_status', 'filing_status', 
            'permit_type', 'permit_sequence_#', 'permit_subtype', 'oil_gas', 'site_fill', "permittee's_license_type", 
            'act_as_superintendent', "owner's_business_type", 'non-profit', "owner’s_house_state", 'council_district']

int_cols = []
float_cols = ['latitude', 'longitude']
bool_cols = ['residential']

In [102]:
col_types = {}
for column in df.columns:
    if column in str_cols:
        col_types[column] = 'string'
    elif column in cat_cols:
        col_types[column] = 'category'
    elif column in int_cols:
        col_types[column] = 'int64'
    elif column in float_cols:
        col_types[column] = 'float64'
    elif column in bool_cols:
        col_types[column] = 'bool'

In [103]:
df = df.astype(col_types)
for datetime_col in datetime_cols:
    df[datetime_col] = pd.to_datetime(df[datetime_col], errors='coerce')
df.info()

In [119]:
debug_df = df.groupby('permit_type', group_keys=False).apply(lambda x: x.sample(frac=0.01, ignore_index=True, 
                                                                                  random_state=42))

In [120]:
df.to_pickle('./Data/Rawdata/data.pkl')
debug_df.to_pickle('./Data/Rawdata/debug_data.pkl')

# Convert Timestamp

In [3]:
import pandas as pd
# Read data that is stored in previous steps to continue
df = pd.read_pickle("Data/Rawdata/debug_data.pkl")

In [4]:
# Function used to format time.
def format_time(c):
    return pd.to_datetime(c).apply(lambda x: int(x.timestamp()))

In [5]:
# TODO: Need to consider how to handle empty date

In [6]:
datetime_cols = ['filing_date', 'issuance_date', 'expiration_date', 'job_start_date', 'dobrundate']
df[datetime_cols].dropna().apply(format_time)

     filing_date  issuance_date  expiration_date  job_start_date  dobrundate
0      965952000      965952000        995068800       965952000  1652054400
1     1125014400     1125014400       1146614400      1125014400  1652054400
2     1473292800     1473724800       1501891200      1441670400  1652054400
3     1344988800     1344988800       1350259200      1098144000  1652054400
4     1568937600     1569369600       1600905600      1510099200  1652054400
..           ...            ...              ...             ...         ...
775    964051200      964051200        973036800       964051200  1509667200
776   1031097600     1031184000       1056931200      1031184000  1652054400
777   1505260800     1505260800       1509408000      1505260800  1652054400
778   1319068800     1319068800       1350604800      1319068800  1652054400
779   1020124800     1020124800       1025395200      1020124800  1652054400

[39328 rows x 5 columns]

In [7]:
df.to_pickle('./Data/Rawdata/debug_data.pkl')

In [ ]:
# convert the datetime column to a pandas datetime object
# df['filing_date'] = pd.to_datetime(df['filing_date'])
# df['issuance_date'] = pd.to_datetime(df['issuance_date'])
# df['expiration_date'] = pd.to_datetime(df['expiration_date'])
# df['job_start_date'] = pd.to_datetime(df['job_start_date'], errors = 'coerce')
# df['dobrundate'] = pd.to_datetime(df['dobrundate'])

In [ ]:
# convert the datetime column to an integer
# df['filing_date'] = df['filing_date'].values.astype('int64')
# df['issuance_date'] = df['issuance_date'].values.astype('int64')
# df['expiration_date'] = df['expiration_date'].values.astype('int64')
# df['job_start_date'] = df['job_start_date'].values.astype('int64')
# df['dobrundate'] = df['dobrundate'].values.astype('int64')

In [ ]:
# divide the resulting integer by the number of nanoseconds in a second
# df['filing_date'] = df['filing_date'] // 10**9
# df['issuance_date'] = df['issuance_date'] // 10**9
# df['expiration_date'] = df['expiration_date'] // 10**9
# df['job_start_date'] = df['job_start_date'] // 10**9
# df['dobrundate'] = df['dobrundate'] // 10**9

In [ ]:
# df_debug = df.sample(frac = 0.005, random_state = 434)

In [ ]:
# df_debug.shape

In [ ]:
# df.to_pickle('./Data/Rawdata/df.pkl')
# df_debug.to_pickle('./Data/Rawdata/df_debug.pkl')